body {
	background-color:black;
	color:#F5F5DC;
}

table {
	border: 1px solid white;

}

p {
	font-size:0.5em;
}

a:link {
	text-decoration: none;
	color:#F5F5DC;
	}
a:visited {
	text-decoration: none;
	color:#F5F5DC;

}
a:hover {
	text-decoration: underline;
	color:#FF0000;
}
a:active {
	text-decoration: underline;
	color:#0000FF;
}

#dataleft {
	background-color:#2B2A2A;
	/* foreground: #BAB48D */
	height:500px;
	width:400px;
	float:left;
	padding:5px;
}

#dataright {
	background-color:#2B2A2A;
	/* foreground: #BAB48D */
	height:500px;
	width:400px;
	float:right;
	padding:5px;
}

#title {
	background-color:#25383C;
	font-family:"Times New Roman", Times, Serif;
	font-weight:bold;
	text-align: center;
	font-size:1.75em;
    vertical-align: text-top;
    color:#F5F5DC;

}
#table {
	background-color:#6D6968;
	color:black;
	font-family: "Ubuntu", Sans-Serif;
	text-align: center;
	font-size:1.75em;
}
#header {
	background-color:#2B2A2A;
	font-family:"Times New Roman", Times, Serif;
	font-weight:bold;
	text-align: center;
	font-size:1.75em;
    vertical-align: text-top;
    color:#F5F5DC;

}
#project {
	background-color:#6D6968;
	color:black;
	font-family: "Ubuntu", Sans-Serif;
	text-align:left;
	font-size:1.75em;
}

#inside {
	background-color:#6D6968;
	height:200px;
	width:300px;
	float:center;
	padding:1px;
}

